body {
    text-align: center;
    /* background-color: rgba(71, 220, 101, 0.989); */
    background-image: url("../img/386851.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

table {
    margin: auto;
    border-radius: 10px;
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid black;
}

.menu {
    margin: auto;
    margin-bottom: 20px;
    background-color: aqua;
    width: 500px;
    height: 50px;
    padding-top: 15px;
}

.table-menu {
    background-color: rgba(137, 141, 138, 0.831);
    margin-bottom: 20px;
    padding: 20px;


}


.table-menu td {
    /* border: 2px solid black; */
    text-align: center;
    width: 150px;
}

.timer {
    background-color: #4073d3bd;
    color: #FFFFFF;;
    border-radius: 8px;
    font-weight: 800;
    border: 2px solid black;
}

.not-shown {
    background-color: rgb(246, 95, 95);
}

.shown {

    background-color: rgb(255, 255, 255);
}

.msg {
    color: rgb(254, 117, 5);

}

button {

    background: #4073d3bd;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 14px;
    text-align: center;

}
